html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.titulos {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 40px;
    color: #FFC000;
    padding-top: 40px;
}

.inicio {
    background-image: url(/img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    margin-bottom: 100px;
    transition: all 0.5s ease;
}
.inicio #menu{
    width: 100%;
    position: fixed;
    transition: all 0.5s ease;
}
/* .inicio #menu .container-fluid{
    background: #FFC000;
    margin: 0px;
    padding: 50px;
} */
.inicio #menu .nav-link{
    color: white;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.inicio #menu .nav-link:hover{
    color:#FFC000;
}
/* .inicio .menu {
    width: 100%;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255, 0.3);
    display: flex;
    justify-content: flex-start;
    position: fixed;
    transition: all 0.5s ease;
}

.inicio .menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.inicio .menu ul li {
    margin: 10px;
    margin-top: 20px;
}

.inicio .menu ul li a {
    color: rgb(255, 255, 255, 0.7);
    font-size: 18px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.inicio .menu ul li a:hover {
    color: #FFC000;
} */

.contain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: all 0.5s ease;
    padding-bottom: 20px;
    padding-top: 180px;
    padding-bottom: 180px;
}
.contain .informacion{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contain .informacion header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.contain .informacion .redes {
    display: flex;
    justify-content: center;
}
.contain .foto {
    display: flex;
    justify-content: center;
}

.contain .foto img {
    height: 320px;
    border-radius: 50%;
}

.contain section h1 b {
    color: #FFC000;
}

.contain .redes img {
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0;
    transition: all 0.5s ease;
}

.contain .redes img:hover {
    transform: translateY(-6px);
}

.informacion {
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    margin: 20px;
    transition: all 0.5s ease;
}
.informacion header{
    display: flex;
    justify-content: center;
}
.informacion header img{
    height: 210px;
}
.aboutme{
    display: grid;
    padding-top: 50px;
    grid-template-columns: repeat(2,1fr);
    margin-left: 40px;
    margin-right: 40px;
    background: rgb(241, 241, 241, 0.3);
}
.aboutme .about-img{
    display: flex;
    justify-content: center;
}
.aboutme .about-img main img{
    height: 220px
}
.aboutme .about-text{
    display: block;

}
.aboutme .about-text header h1{
    font-size: 20px;
    text-align: center;
}
.aboutme .about-text main{
    text-align: justify;
}
/* .lenguajes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: rgb(241, 241, 241, 0.3);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 0.5s ease;
}
.lenguajes section main{
    display: flex;
    justify-content: center;
}
.lenguajes section main img{
    height: 80px;
}
.lenguajes section footer h1
{
    margin: 10px;
    color: rgb(122, 122, 122);
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */
.conocimientos{
    border-top-style: solid;
    border-top-width: 1px;
    background: rgb(241, 241, 241, 0.3);
    border-top-color:rgba(236, 225, 225, 0.3);
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    margin-left: 40px;
    margin-right: 40px;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
}
.conocimientos h1{
    font-size: 20px;
    text-align: center;
}
.conocimientos section main{
    display: block;
}
.conocimientos section main p{
    display: flex;
    justify-content: center;
    text-align: justify;
}
.btn-cv {
    display: flex;
    justify-content: center;
    border-bottom-style: none;
    background: rgb(241, 241, 241, 0.3);
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 100px;
}

.btn-cv .button {
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: #FFC000;
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: rgb(192, 192, 192);
    border-width: 1px;
    transition: all 0.5s ease;
}

.btn-cv .button:hover {
    text-decoration: none;
    background: black;
}

.portafolio {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    grid-gap: 100px;
    transition: all 0.5s ease;
}

.portafolio section {
    transition: all 0.5s ease;
}

.portafolio header {
    display: flex;
    justify-content: center;
}

.portafolio header img {
    height: 80px;
}

.portafolio nav {
    display: flex;
    justify-content: center;
}

.portafolio nav h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgb(122, 122, 122);
}

.portafolio main {
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
}

.portafolio main img {
    width: 400px;
    height: 250px;
    transition: all 0.5s ease;
}

.footer {
    color: #797979;
    display: grid;
    grid-template-columns: 600px;
    justify-content: flex-start;
    margin-top: 50px;
    text-align: justify;
    background: #222222;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 0.5s ease;
}

.footer section {
    margin: 40px;
}

.contactos {
    display: flex;
    justify-content: center;
    background: #272727;
}

.contactos section img {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    filter: grayscale(1);
}

.contactos section img:hover {
    filter: grayscale(0);
}

.footer2 {
    background: #272727;
    height: 50px;
    text-align: center;
    color: #797979;
}

.footer2 p {
    padding: 10px
}


@media screen and (max-width:768px) {
    .inicio .menu {
        display: flex;
        justify-content: center;
    }

    .inicio .menu ul li {
        margin-right: 8px;
        margin-left: 8px;
        margin-top: 20px;
    }

    .inicio .menu ul li a {
        font-size: 15px;
    }

    .contain {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 150px;
    }

    .contain section {
        margin-top: 120px;
    }
    .aboutme{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .conocimientos{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .btn-cv .button {
        margin-top: 35px;
    }


    .portafolio {
        display: grid;
        grid-template-columns: 400px;
    }

    .portafolio main img {
        height: 200px;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .footer .footer-contactos .img,
    .a-img {
        height: 25px;
        margin: 10px;
    }

}

@media screen and (max-width:400px) {
    .inicio .menu {
        display: flex;
        justify-content: center;
    }

    .inicio .menu ul li {
        margin-right: 12px;
        margin-left: 12px;
        margin-top: 20px;
    }

    .inicio .menu ul li a {
        font-size: 13px;
    }

    .portafolio {
        display: grid;
        grid-template-columns: 400px;
    }

    .portafolio main img {
        height: 180px;
    }

}

@media screen and (max-width:360px) {
    .contain img {
        height: 280px;
        border-radius: 50%;
    }

    .portafolio main img {
        width: 300px;
        height: 250px;
        transition: all 0.5s ease;
    }
}