body{
    margin: 0;
    padding: 0;
}
.titulos {
    display: flex;
    justify-content: center;
    color: #171c3b; 
    font-size: 2.8rem;
    font-weight: 200;
    animation: anim-titulos 2s infinite alternate;
    transform: translateY(-10px);
}
@keyframes anim-titulos{
    100%{
        transform: translateY(0px);
    }
}
/* #btn-up{
    display: inline-block;
    background: rgb(234, 80, 96);
    height: 80px;
    width: 80px;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    margin: 10px;
    transition: all 0.5s ease;
}
#btn-up img{
    display: flex;
    justify-content: center;
    height: 80px;
} */
#portafolio{
    padding-top: 120px;
}
#menu{
    width: 100%;
    position: absolute;
    transition: all 0.5s ease;
}

 #menu .nav-link{
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}
#menu .nav-link.active{
    color: #ea5060 ;
}
#menu .nav-link:hover{
    color:#ea5060 ;
}

.inicio {
    height: 800px;
    /* background-image: url(/img/fondo.jpg); */
    background-image: url(/img/solespalda.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    /* transition: all 0.5s ease; */
}
.informacion{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgb(23, 28, 59,0.8);
    flex-direction: column;
}
.informacion header{
    text-align: center;
}
.informacion header h1{
    font-size: 2.8rem;
    font-weight: 300;
    animation: texto 2s;
    animation-fill-mode:forwards;
}
@keyframes texto{
    100%{
        font-size: 4.2rem;
    }
}
.informacion header p{
    font-size: 1.5rem;
    font-weight: 300;
}
.informacion .redes {
    display: flex;
    justify-content: center;
}
.informacion .redes img {
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0;
    transition: all 0.5s ease;
}

.informacion .redes img:hover {
    transform: translateY(-6px);
}
.informacion .btn-cv{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
.informacion .btn-cv .downCV{
    text-decoration: none;
    color: white;
    background: #ea5060;
    padding: 12px 40px;
    transition: all 0.5s ease;
    border-radius: 10px;
    margin-right: 5px;
}
.informacion .btn-cv .lookLinked{
    text-decoration: none;
    color: #ea5060;
    padding: 12px 40px;
    transition: all 0.5s ease;
    border-color: #ea5060;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    margin-left: 5px;
    background-image: url(/img/linkedinC.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 10px;
    transition: all 0.5s ease;
}
.informacion .btn-cv .lookLinked:hover{
    background: rgb(23, 28, 59);
    color: white;
    border-color: rgb(23, 28, 59);
}
.informacion .btn-cv a:hover{
    border-radius: 18px;
    background: black;
}
.informacion h1 b {
    color: #ea5060 ;
}

.habilidades {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background: rgb(255, 251, 251);
    transition: all 0.5s ease;
}

.habilidades section header {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.habilidades section div{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.habilidades section li {
    display: flex;
    justify-content: center
}
.habilidades section li progress {
    margin-top: 20px;
    height: 20px;
    width: 200px;
    appearance: none;
}
progress[value]::-webkit-progress-value {
    background-color: #ea5060;
    border-radius: 10px;
}

progress[value]::-webkit-progress-bar {
    background-color: #E3E5E7;
    border-radius: 10px;
}

.habilidades section img {
    display: block;
    text-align: center;
    height: 50px;
    margin: 5px;
}
.aboutMe{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 20px;
}
.aboutMe .aboutMe-Info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}
.aboutMe .aboutMe-Info header{
    display: flex;
    justify-content: center;

}
.aboutMe .aboutMe-Info header h5{
    color:rgb(23, 28, 59);
    font-size: 1.6rem;
    font-weight: 100px;
}
.aboutMe .aboutMe-Info main{
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size: 1.4rem;
    font-weight: 200px;
    margin: 40px;
}
.aboutMe .aboutMe-Info main p{
    transition: all 1s ease;
    opacity: 0;
}
.aboutMe .aboutMe-Foto main{
    display: flex;
    justify-content: center;
}
.aboutMe .aboutMe-Foto main img{
    height: 460px;
    border-radius: 20%;
    opacity: 0;
    transition: all 1s ease;
}
.aboutMe .aboutMe-Foto footer{
    display: flex;
    justify-content: center;
    margin-top: 6px;
}
.aboutMe .aboutMe-Foto footer img{
    height: 40px;
}
.portafolio{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    transition: all 1s ease;
    opacity: 0;
}
.portafolio section{
    margin: 40px;
}
.portafolio section header{
    display: flex;
    justify-content: center;
}
.portafolio section header img{
    height: 120px;
}
.portafolio section main{
    overflow: hidden;
    position: relative;
    transition: all 500ms ease-out;
    border-radius: 6px;
    cursor: pointer;
}
.portafolio section main img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.portafolio section main .caja
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.portafolio section main:hover >.caja{
    opacity: 1;
    visibility: visible;
}
.portafolio section main:hover >.caja h3{
    margin-top: 20px;
    margin-bottom: 15px;
}
.portafolio section main .caja h3{
    color: white;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 10px;
}
.portafolio section main .caja main{
    color: white;
    margin-bottom: 10px;
}
.portafolio section main .caja a{
    text-decoration: none;
    padding-right: 40px;
    background: #ea5060;
    border-radius: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 40px;
    color: white;
}
.portafolio section main .caja a:hover{
    background: black;
    color: white;
    transition: all 0.5s ease;
}
.portafolio section main:hover > img{
    transform: scale(1.2);
}
.footer {
    color: #797979;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: flex-start;
    margin-top: 50px;
    text-align: justify;
    background: #222222;
    font-size: 1.1rem;
    font-weight: 300;
    transition: all 0.5s ease;
}
.footer section {
    margin: 40px;
}
.footer .footer-informacion main{
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.footer .footer-contactos{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer .footer-contactos main img{
    display: block;
    height: 40px;
    margin-right: 10px;
}
.footer .footer-contactos main a{
    color:#797979;
    display: flex;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.5s ease;
}
.footer .footer-contactos main a:hover{
    color: white;
}

.footer2 {
    background: #272727;
    height: 50px;
    text-align: center;
    color: #797979;
}

.footer2 p {
    padding: 10px
}
/* Scroll personalizado */
body::-webkit-scrollbar{
    width: 10px;
    box-shadow: #222222;
}
body::-webkit-scrollbar-thumb{
    background: #ea5060 ;
    border-radius: 15px;
}
@media screen and (max-width:1028px) {
    .habilidades section div{
        display: block;
        justify-content: center;
    }
}
@media screen and (max-width:768px) {
    .informacion .btn-cv{
        display: grid;
        justify-content: center;
        margin-top: 16px;
    }
    .informacion .btn-cv .downCV{
        margin-right: 0px;
    }
    .informacion .btn-cv .lookLinked{
        margin-top: 10px;
        margin-left: 0px;
    }
    .habilidades {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .habilidades section img {
        height: 50px;
    }
    
    .aboutMe{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .portafolio {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* .footer .footer-contactos .img,
    .a-img {
        height: 25px;
        margin: 10px;
    } */

}

@media screen and (max-width:400px) {
    .portafolio {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .portafolio main img {
        height: 180px;
    }

}

@media screen and (max-width:360px) {

    /* .portafolio main img {
        width: 300px;
        height: 250px;
        transition: all 0.5s ease;
    } */
}